[2013-06-26 21:21] jamesreggio opened #12 "Add guideline about method calls"
I'm not sure if this is an intentional omission, so I figured I'd throw it out there.

Ruby has a lot of syntactic sugar around method invocation.  These are my rules around the use of that syntax:
- Use parenthesis...
  - If the method returns a value

[code]
  - If the first argument to the method uses a parenthesis

[code]
- Omit the parenthesis...
  - If the method accepts no arguments

[code]

[2013-08-12 22:16] spikebrehm opened #20 "Hash symbol key style is unclear"
In the [Collections](https://github.com/airbnb/ruby#collections) section, we have this example:

[code]

The point of this example is to show using symbols as keys instead of strings.  This would be a more clear example as:

[code]

Also, the style guide doesn't seem to comment on the preferred style of symbol keys; the Ruby <= 1.8 style vs the Ruby >= 1.9 style:

[code]

[2014-06-08 05:18] sredmond opened #30 "Typo in Syntax Section"
After reading through these Ruby style guidelines, I'm extremely impressed, but there is a minor typo. In the syntax section, it currently says...

It should say...

Or something similar. Hope this change can get merged in soon!

[2014-12-02 17:50] #30 closed, assigned to nobody

[2014-12-02 17:51] #12 closed, assigned to nobody

[2014-12-02 17:54] #20 closed, assigned to nobody

[2014-12-04 05:30] justin808 opened #35 "Support for 2.1 Syntax"
Should the style guide mention:
1. Named parameters
2. Using the `{ key: value }` rather than the `{ :key => value }` syntax

[2014-12-04 19:53] #35 closed, assigned to nobody

[2015-08-27 15:56] RomanMenzel opened #50 "The negation operator"
When I try to use the negation operator without parens, it doesn't work!
With which ruby version did you try the examples?

[2015-08-27 17:14] ljharb commented on #50
Can you provide a code example? `x = 3; -x` prints out negative three in every ruby console I've ever used.

[2015-08-28 08:55] RomanMenzel commented on #50
No, I mean the '!' operator. An example would be:
[code]
This doesn't work! :point_up:

[2015-08-28 09:16] ljharb commented on #50
You want `if x != 3` there. negation applies to a value, and `!x` will never == 3, because `!x` will always be a boolean `true` or `false`.

[2015-08-28 14:22] RomanMenzel commented on #50
Ok, now I understand, thank you.

[2015-08-28 14:22] #50 closed

[2015-12-08 05:56] justin808 opened #58 "Method arguments or parameters"
I noticed some recent PRs changed the word 'arguments' to 'parameters' but not everywhere.

Any reason?

[2015-12-12 16:13] dideler commented on #58
I assume that previously the style guide used them interchangeably but is now following the definition of parameters being the variables in the method signature while arguments are the supplied values when calling the method.

[2015-12-13 12:21] AlexisRialt opened #59 "Typo on "Concatenation""
"Prefer string interpolation instead of string **concatentation**:"

[2016-01-02 05:07] JohnReedLOL opened #61 "Constants"
Ruby style guide...

*Use snake_case for methods and variables.
Use CamelCase for classes and modules. (Keep acronyms like HTTP, RFC, XML uppercase.)
Use SCREAMING_SNAKE_CASE for other constants.*

^ This is bad style because it promotes unnecessary use of mutable state, which is a source of future bugs. SCREAMING_SNAKE_CASE is really ugly, so people tend to only use it when they feel obligated to

[2016-01-02 06:29] ljharb commented on #61
"ugly" is very subjective. I don't find SCREAMING_SNAKE_CASE ugly at all, and personally, I love seeing it all over the place because it conveys immutability - for both global and all local constants. (Note that a local immutable variable isn't a "constant", and thus would use snake_case)

Do you have data beyond your own experience that suggests that "people tend to only use it when they feel obl

[2016-01-02 16:16] BMorearty commented on #61
Thank you for the suggestion. We're trying to keep this style guide largely consistent with idiomatic Ruby, and I've never seen Camel_Case_ (or uppercase first letter for any local, regardless of what comes after it) in all the Ruby projects I've worked on so I think it strays too far from the norm.

I also disagree with the contention that local mutable state is a source of future bugs, but even

[2016-01-02 16:16] #61 closed

[2016-01-21 21:37] #59 closed

[2016-02-10 14:58] tommydangerous commented on #58
:+1: @dideler

[2016-02-10 14:59] #58 closed

[2016-02-10 22:31] ljharb opened #74 "Link to rationales?"
Perhaps a nice way to mitigate the concerns of those who want the guide to be approachable by non-rubyists, without compromising the terseness that some value, would be to add an explicit "Rationale" link to each rule/guideline that links to the pull request where it was discussed?

That would avoid readers having to hunt through git history to figure out why a rule exists.

Another alternative wo

[2016-02-10 22:44] robotpistol commented on #74
:+1:

[2016-02-11 01:02] tommydangerous commented on #74
@ljharb I love the `rationales.md`

[2016-02-11 01:26] ljharb commented on #74
Immediately :-) PRs welcome! :-p

[2016-02-11 01:37] venantius commented on #74
I'm a fan of this, especially if we enable rich linking in the short guide to the specific section in the long guide.

[2016-02-11 03:05] BMorearty commented on #74
A link to the PR seems like a good, low-cost way to do it. I like that one.

If you do a separate `rationales.md`, I think it'll be out of sync a lot. I wouldn't recommend a "long version" of the guide that repeats all the guidelines, either--then it will be even more out of sync.

Since these are style issues, a lot of the time there's no rationale other than "we wanted to pick a style so we pick

[2016-02-11 03:25] kmsun07 commented on #74
we could always of course add an appendix in the main file, then link down to it from the main rule

[2016-02-11 05:04] ljharb commented on #74
Even when the rationale is "the N forms are equivalent and we just like this one better" that's hugely valuable - it informs users which rules they don't have to consider too heavily before deviating from in their own projects.

As long as the rationale is immediately reachable, I will be happy. Requiring users to track down the appropriate PR is super hostile to people not intimately familiar wit

[2016-02-11 06:57] tommydangerous commented on #74
I see two great ideas, a separate file for the rationales and the appendix that @kmsun07 proposed.

[2016-02-11 07:06] BMorearty commented on #74
As long as "arbitrary consistency" is a valid rationale. I'm not being flippant or sarcastic. For many--I would say most--style rules, that's the reason. Otherwise I would have a hard time justifying, for example, two-space indentation vs. some other number of spaces.

[2016-02-11 07:09] ljharb commented on #74
Certainly the only reason to choose any number of spaces for indentation is "arbitrary consistency" :trollface: but sure, that's fine to put as the rationale when that applies.

[2016-02-11 16:53] tommydangerous commented on #74
Will we go with the separate `rationales.md` file? Or will we go with the appendix? If I had 1 gummy bear to distribute, I would give it to `rationales.md`. What is everyone feeling? I can start once we all come to a consensus.

[2016-02-11 18:44] venantius commented on #74
I gummy bear `rationales.md`

I don't think they need to get out of sync - we just make sure people submit PRs that touch both files.

[2016-02-11 19:46] BMorearty commented on #74
I gummy bear `rationales.md`

[2016-02-11 19:48] tommydangerous commented on #74
I am getting a sugar high! I will start working on it after a couple more gummies.

[2016-02-11 19:51] ljharb commented on #74
gummy bear for rationales.md from me too

[2016-02-12 02:53] venantius opened #75 "Link to rule"
One of the awesome things about bbatsov's guide is that each rule is accompanied by a link to that particular rule, so that you can easily reference it in a discussion. We should do the same thing here!

[2016-02-12 02:54] robotpistol commented on #75
:100:

[2016-02-12 04:55] venantius opened #76 "Tighten up line length section"
I think, in line with the discussion going on in https://github.com/airbnb/ruby/issues/74, that the current section on line length is probably quite a bit longer than needs to be in the main page. I think it's sufficient to say that lines shouldn't be over 100 characters, and link to a larger section in `rationales.md` explaining why and providing mitigation strategies. Thoughts?

[2016-02-12 05:13] tommydangerous commented on #75
@venantius What do you mean link? From the header to the section or from the rule to the explanation or rationale?

[2016-02-12 05:14] tommydangerous commented on #76
I like your thoughts.

[2016-02-12 05:19] tommydangerous commented on #74
I'm reading the style guide again and a lot of the rules are already as short as possible with no rationale. The thing that takes up the most space are the examples. Are we wanting to extract the examples into the rationale?

[2016-02-12 05:19] tommydangerous commented on #74
Checkout this style guide, my absolute favorite: https://github.com/thoughtbot/guides/tree/master/style/ruby

[2016-02-12 05:22] tommydangerous commented on #74
We can do something similar, for example:

* Indent using 2 spaces [Example](http://www.google.com)

Clicking `Example` will take you to the section in the rationales/examples with:

[code]

[2016-02-12 05:22] venantius commented on #75
I mean including the "[link]" thing per bbatsov's guide:
<img width="602" alt="screen shot 2016-02-11 at 9 22 09 pm" src="https://cloud.githubusercontent.com/assets/1824859/12999566/92ec7372-d105-11e5-92e3-0c29424c94ac.png">

[2016-02-12 05:23] tommydangerous commented on #75
^ I like that

[2016-02-12 05:30] venantius commented on #74
Personally, I prefer having the example in the main guide because often the wording of the rule itself isn't clear enough for me to immediately understand what the rule *is*. By contrast, the rationale is truly optional knowledge.

[2016-02-12 16:20] BMorearty commented on #76
Makes sense to me. The main guide could probably just keep the first two sentences: "Keep each line of code to a readable length. Unless you have a reason to, keep lines to fewer than 100 characters." Or even just "Unless you have a reason to, keep lines to fewer than 100 characters."

[2016-02-12 16:28] ljharb commented on #76
Since line length is just an arbitrary boundary chosen as a proxy for code clarity/complexity, I also generally enjoy including a sentence like "Consider using intermediate variables or separate methods to aid readability without requiring long lines"

[2016-02-12 16:47] BMorearty commented on #74
@tommydangerous My initial reaction was "but the examples are so helpful!"

But then I saw your link to the more concise guide at Thoughtbot and I have to say, I love it. It's so easy to scan. I support your suggestion to move the examples out.

[2016-02-12 16:49] BMorearty commented on #75
Giddyup. I thought this had already been suggested somewhere but I don't see it. I love it.

[2016-02-12 18:08] venantius commented on #76
@ljharb Disagree about the justification for a character limit; an 80-100 character limit is usually set because otherwise things get messy for those of us who work in terminals. It's neither arbitrary nor related to code complexity.

[2016-02-12 18:14] venantius commented on #75
Cool. I'll start working on a PR for this now (just announcing to keep anyone else from duplicating what seems likely to be rote/unfun work)

[2016-02-12 18:49] ljharb commented on #76
My terminal is about 200 lines wide, surely your screen is big enough for a couple of those? :trollface:

[2016-02-12 18:53] venantius commented on #76
"lines" are vertical, how can they be wide? :trollface:

[2016-02-12 18:58] ljharb commented on #76
bah, s/lines/columns

[2016-02-12 19:04] venantius commented on #76
mauahahahaha

[2016-02-12 19:18] robotpistol commented on #76
100-110 characters is aboutthe width of text in sublime on my laptop screen.
Also i think it's like 110ish characters displayed in github depending upon their mood, it seems to change.

[2016-02-16 23:13] tommydangerous commented on #76
I prefer 80, but we do 100 here. I am fine with 100.

[2016-02-16 23:14] ljharb commented on #76
fwiw, our JS guide is 100 right now, but will likely end up 120 before too long.

[2016-02-16 23:16] tommydangerous commented on #76
How come 120?

[2016-02-16 23:19] ljharb commented on #76
Let's not bikeshed the JS choice on the ruby repo - but tl;dr, https://github.com/airbnb/ruby/issues/76#issuecomment-183398140 + "80 → 100 → 120" seems like nice round numbers.

[2016-02-16 23:29] tommydangerous commented on #76
I see. If you do 120 for JS, I will have wrapping lines of code on my editor since I set my break point at 100 :(

[2016-02-16 23:44] robotpistol commented on #76
Let's leave it as 100 I don't think there is a good reason to change it.

[2016-02-17 00:04] tommydangerous commented on #76
100 is nice, not too far off from 80.

[2016-02-17 00:09] venantius commented on #76
I mean, we should do 100 if for no other reason than that as part of bootcamp we've been pushing 100-character line limits into every new engineer's vimrc etc for a year now.

[2016-02-17 00:11] robotpistol commented on #76
The worst thing you can do to an arbitrary limit is keep changing it without a compelling reason :wink:

[2016-02-19 01:22] #76 closed

[2016-02-19 01:24] tommydangerous commented on #74
I will create a PR and we can see how it works.

[2016-02-19 01:25] #75 closed

[2016-02-19 01:27] venantius commented on #74
This issue can be closed now, I believe, since `rationales.md` exists.

[2016-02-19 01:27] #74 closed

[2016-02-19 02:00] venantius opened #80 "Shorten example code"
A lot of our sample code blocks are longer than they need to be to get the point across. I think we could do with cleaning these up a bit. The 100-char line limit addressed in #77 is but one example of this.

Discuss.

[2016-02-23 06:02] tommydangerous commented on #80
I agree.

[2016-02-23 06:03] tommydangerous commented on #80
Another thing I would like to clean up is move the bad examples above the good examples and make it consistent throughout.

[2016-02-23 06:07] venantius commented on #80
Omg @tommydangerous ++++++ agree so hard.

[2016-02-23 06:12] tommydangerous commented on #80
Luckily, I only found 2 violations: https://github.com/airbnb/ruby/pull/84

[2016-02-23 06:57] ljharb commented on #80
+1, examples should be long enough to clearly illustrate the point (and ideally should encompass commonly used patterns) but no longer.

[2016-04-05 12:28] whatyoubendoing opened #94 "Rubocop ruleset?"
Is there a rubocop ruleset for this coding style similar to your eslint for js?

[2016-05-30 00:29] snood1205 opened #97 "Attributes"
There is no style advice on `attr_accessor`, `attr_reader`, or `attr_writer`. Can this be added?

[2016-05-30 00:48] BMorearty commented on #97
@snood1205 I think the reason for no style advice is there's nothing to say about it, style-wise. What would you want a style guide to say?

[2016-05-30 02:30] tommydangerous commented on #97
I agree with @bmorearty, the only advice I can think of is if you have the same attribute for attr reader and writer and they are both public, private, or protected then DRY it up and use attr accessor. But this seems common sense.

[2016-05-30 18:38] #97 closed

[2016-06-02 21:57] daltonamitchell commented on #94
I'm happy to work on a PR for this. Rubocop comes with a large set of defaults. Do you think it'd be best to explicitly define all rules or just override those that are not specified in the defaults?

[2016-06-02 23:09] ljharb commented on #94
We're already building up an internal rubocop ruleset, but in the meantime, a PR that creates one to match the styleguide would be very appreciated!

I have a strong preference for not relying on defaults.

[2016-06-02 23:28] daltonamitchell commented on #94
Cool, I'll get started! 👍

[2016-06-13 17:33] Eastknight opened #99 "Is it good to use `reverse_merge!` on the optional hash argument of a method?"
I found an example in this guide

[code]

I'm wondering whether this is a good practice. When you use this method, the input options hash might be modified by `reverse_merge!` method, which, in my opinion, is very error-prone process in a big project.

[2016-06-13 17:52] robotpistol commented on #99
I've been thinking about this for a while. and I think I agree with you. Though many options are passed in statically, it is very possible that they are constructed and reused elsewhere

In this case it is safer to do
[code]

Which will set `options` to a copy of the original options hash, leaving the original in tact.

[2016-06-13 19:00] ljharb commented on #99
+1, any methods that mutate imo should be avoided, to avoid this hazard.

Alternatively,
[code]

[2016-06-25 20:39] akash2504 opened #101 "Prefer map over collect ?"
This style guide says that we should prefer map over collect. but this link (http://rubyinrails.com/2014/01/25/ruby-difference-between-collect-and-map/) clearly explains that in ruby there is no difference between map and collect. Then why to prefer map?
Am i missing something?

[2016-06-25 20:42] ljharb commented on #101
Preferring one over the other helps maintain consistency - in the common case of there being multiple aliases for the same function, it's a best practice to select one variant, and require that be the one used.

In regard to this specific case, imo `map` is a more common idiom for "transform one array into another", and as such, that name is less confusing than the much rarer "collect".

[2016-06-25 22:59] tommydangerous commented on #101
+1 to @ljharb

[2016-06-27 04:55] akash2504 commented on #101
We should mention this in the style guide. Having the statement Prefer map over collect gives a sense that the implementation of two is different and former is better over latter. Isn't it?

[2016-06-27 05:34] ljharb commented on #101
I both agree that more explanation would be better, and disagree that the current statement implies anything of the sort whatsoever.

[2016-07-08 16:20] joegesualdo commented on #94
@daltonamitchell Any progress on this? 😄

[2016-07-08 16:53] daltonamitchell commented on #94
Not much, got sidetracked with another project. Hopefully next week I'll be back on it though

[2016-08-01 16:26] Micka33 commented on #94
Waiting for it !

[2016-08-01 17:23] daltonamitchell commented on #94
Hey all, it's been a couple months and I really haven't made any significant progress. I think I better let someone else handle this. Sorry but hopefully someone will have better luck with it.

[2016-08-01 17:40] robotpistol commented on #94
I've been working (in my spare time) to incorporate a lot of the rules into the rubocop configuration on monorail.  Some of it has been working through rule definitions. That is probably the best place to look for a rubocop ruleset right now. it's not complete by any means but is a good start, still very much a work in progress and will continue to be as rubocop rolls out new rules which can bette

[2016-08-17 04:12] 1c7 opened #102 "[Done] Hi, I am translating this guide into chinese."
Repo is here:
https://github.com/1c7/ruby
not done yet, I would let you guys know once I finish it.

I was wondering if possible that, you guys put this link in README.md?

[code]

like this.

it mean [chinese version here].

thanks :D

[2016-08-17 04:43] ljharb commented on #102
Absolutely! When you're finished, please make a pull request adding the link, and after we review it, we'll happily merge it in!

We don't yet have a "translations" section in this guide, but it would be great if you could follow the pattern [here](https://github.com/airbnb/javascript#translation) so we have a nice framework for future translations.

[2016-08-17 04:58] 1c7 commented on #102
@ljharb   got it. Thank you!

[2016-09-24 04:50] aitbw opened #107 "Spanish version"
Hi! :D

I've decided to translate this guide into Spanish on behalf of [Venezuela's Ruby community](https://github.com/ruby-ve), greatly inspired by the work of @1c7 on #102.

Just one question: Should I translate the fork or is it better to create a new repo for the translation?

[2016-09-24 09:29] 1c7 commented on #107
:D

[2016-09-24 16:12] ljharb commented on #107
@aitbw translating the fork would make it easier for you to keep it up to date.

[2016-09-24 17:45] aitbw commented on #107
Great! I'll drop a pull request as soon as it's ready :)

[2016-12-29 10:32] MindRave commented on #94
@robotpistol Do you happen to have a link by any chance that you could share? Scoured Google but couldn't find anything.

[2016-12-29 18:55] ljharb commented on #94
@MindRave no, his comment means we have that configuration internally to Airbnb - it's not publicly available.

[2017-02-10 00:17] voxxit commented on #94
@ljharb Any plans on making it so?

[2017-02-10 01:19] ljharb commented on #94
I'd very much like to! I believe @robotpistol is still working on firming up our internal ruleset, but hopefully we'll be able to publish it sooner than later.

[2017-02-24 20:03] wkonkel commented on #94
@ljharb and @robotpistl - Do you happen to have a draft .rubocop.yml you could release prior to a final version?

[2017-03-15 17:31] ryanclark2 opened #112 "License?"
Hello,

I'd like to use this style guide as a basis to start our own for my team, but there's no license information and I don't want to step on toes. Can someone please specify how this is made available?

Thanks!

[2017-04-06 20:58] wkonkel commented on #94
:bump:

Any updates on the official AirBNB approved rubocop.yml?

[2017-04-13 10:53] Willibaur commented on #107
@aitbw How are you doing with this translation, I would like to help you if there is room for that?

[2017-04-27 18:50] alanhamlett opened #113 "trailing commas in multi-line method arguments"
Which is the preferred style?

[code]

or

[code]

or

[code]

[2017-04-27 19:14] robotpistol commented on #113
We currently don't have a rule for trailing commas in multi-line-method calls.

[code]

[2017-04-27 19:18] romanfuchs commented on #113
Regarding the first argument, I think it's fine to not enforce one style here. It depends, e.g.

[code]
looks totally fine, but if it's more like
[code]
then that form is probably better.

[2017-04-27 19:32] ljharb commented on #113
I think the rationale that should apply is, when adding a new "last" item to a list (where the current last item can have an optional trailing comma), use whichever form results in the smallest git diff.

In @romanfuchs' examples, the former would not need one; the latter would.

If this rationale makes sense to others, then I think that we should mandate it.

[2017-04-27 20:23] alanhamlett commented on #113
I like the smallest diff rule, and personally prefer 1 and 3 over the other examples.

[2017-04-27 20:26] robotpistol commented on #113
One thing to keep in mind is that in method definitions, a trailing comma is invalid ruby syntax.

Overall I don't have a strong preference on the trailing comma in method calls though.

[2017-04-27 20:39] ljharb commented on #113
Prior to trailing function commas being valid JS, the JS style guide's approach was simply "everywhere a trailing comma is allowed, where adding it keeps diffs small - use one" - using the same rationale here would cover invalid syntax.

[2017-04-27 21:25] BMorearty commented on #113
Using a trailing comma without parentheses has to be forbidden, though. It will (and has) cause errors.

[2017-05-16 18:36] thesmart opened #122 "return from block"
The style guide ought to include a note about using `return` in a block.

From [StackOverflow answer](http://stackoverflow.com/questions/1435743/why-does-explicit-return-make-a-difference-in-a-proc)

Perhaps the following recommendation:

Avoid `return` in procs/blocks because `return` terminates the method calling a proc/block:
[code]

[code]

[2017-05-16 18:43] BMorearty commented on #122
I don't think we should have this recommendation. This behavior in Ruby is by design and is normal practice because it's very common to return from a block. It allows you do refactor code within a method (e.g., move code into or out of a block) without changing the behavior of the code.

[2017-05-18 04:36] thesmart commented on #122
Ok. :)

[2017-05-18 04:36] #122 closed

[2017-05-27 02:54] 0x414f commented on #112
Same question. Any comment here?

[2017-06-08 14:18] BenBach commented on #94
That would be great!

[2017-07-11 14:51] alfrego129 opened #125 "Kali Linux ruby upgrade error"
My problem is that

I use Kali Linux and I am trying to use the tool of "beef", however, for this ,I need to upgrade ruby because I see this error

'Ruby version 2.1.5 is no longer supported. Please upgrade to Ruby version 2.2 or later.'
When I check my version of the ruby it is 'ruby 2.1.5p273 (2014-11-13) [i386-linux-gnu]'.

And then I tried respectively

sudo apt-get install ruby2.0

sudo apt-g

[2017-07-11 17:08] BMorearty commented on #125
I'm sorry, this is a Ruby style guide. This is not a place for Ruby support.

[2017-07-11 17:08] #125 closed

[2017-07-11 19:11] caiogranero opened #127 "Portugueses translate"
Hi !

I have translated this guide to pt-BR language.
The link is: https://github.com/caiogranero/ruby-airbnb

I create a pull request inserting the url to the oficial guide.

[2017-07-23 02:33] nikhilmat commented on #94
Any update on this? Curious, are there any custom rules you guys are using to enforce the style guide?

[2017-08-01 01:37] nodanaonlyzuul opened #128 "Broken link on http://airbnb.io/projects/ruby/"
Hullo.

Firstly, thanks for the hard work and sharing your style guides.
http://airbnb.io/projects/ruby/ link to the Google C++ style guide is broken (http://google-styleguide.googlecode.com/svn/trunk/cppguide.xml).

The C++ guide now lives here: https://google.github.io/styleguide/cppguide.html

I know http://airbnb.io/projects/ruby/ isn't governed by this repo but that page links to this repo un

[2017-10-13 09:04] kiriakosv opened #130 "Method chaining"
Hello, is there a rule regarding method chaining? For example:
[code]

If not, can I make a pull request to add one?

[2017-10-16 19:00] BMorearty commented on #130
@kiriakosv Thank you for offering to contribute.

We allow method chaining within the same line. And we generally put the dot at the end of the line when we break it up across lines.

[2017-10-16 19:00] #130 closed

[2017-10-27 06:47] klippx commented on #94
DuckDuckGoed `airbnb rubocop` and ended up here anticipating a yml file - ended up slightly disappointed that this issue has been open 1.5years... Please share the ❤️ 💜 💚

[2017-10-28 17:22] 0x414f commented on #94
Any update :smile:

[2017-11-06 21:26] robotpistol commented on #94
I apologize for the long wait for this.  I've been working on trying to open source our internal version of rubocop (using similar configuration injection to rubocop-rspec) but have been holding off for a while. But clearly there's enough demand for this that I will put a copy of our current configs (it will evolve over time) i'll try to include them either in this repo or a related one.

Again so

[2018-01-15 21:56] halexarmenta commented on #94
Hey! it's awesome that you are working on this, it would be very appreciated by developers, personally i like rubocop but it would be greate if we can implement a ruleset for the airbnb ruby styleguide, so thanks in advantage for your work @robotpistol we are waiting for this :)

[2018-02-13 21:15] justinforce commented on #94
@robotpistol Hey, you know what's great for works in progress? Open sourcing them so strangers can help you fix them. :trollface:  :heart:

[2018-02-14 07:46] klippx commented on #94
I gave up on finding a good rubocop.yml from the "big" players. It could be different even within a place such as airbnb, I guess that's why we dont see anything.

Instead, I think this is something that teams should decide on themselves:
0. Initial step: Simply use vanilla rubocop with no rules. It's not bad, give it a try.
1. Use autocorrect (`rubocop -a`)
2. Correct todos in .rubocop_todo.yml o

[2018-03-01 07:15] ljharb commented on #112
This should be MIT; #133 will address that.

[2018-03-01 20:57] #94 closed

[2018-03-01 20:57] #112 closed

[2018-03-01 21:25] ryanclark2 commented on #112
Boom! Made it just before the 1-year mark :) Thanks folks!

[2018-03-01 22:18] robotpistol commented on #80
I'm closing this as the examples are shorter than 100 characters now.

[2018-03-01 22:18] #80 closed

[2018-05-14 18:44] aamarill commented on #128
Hello,

I am looking to make my first open source contribution. Is this a good issue to take on?
If not, feel free to point me other issues that might be good for someone that's new to open source.
Thanks!

[2018-05-14 18:48] ljharb commented on #128
@aamarill sure, that'd be great, thanks

[2018-05-14 19:37] aamarill commented on #128
@ljharb can you please let me know where the repo for [https://airbnb.io/projects/ruby/](https://airbnb.io/projects/ruby/) is? I couldn't find it, I also read the "CONTRIBUTING.md" and couldn't find anything on the repo. Thanks!

[2018-05-14 20:38] ljharb commented on #128
ah, turns out this was already fixed in #105, but hasn't been updated in the private repo for airbnb.io.

I'll pursue this internally.

[2018-05-18 02:42] nodanaonlyzuul commented on #128
Hi @ljharb !

I'm going to close this ticket if the repo that governs that static site is private and trust you to open up a ticket in that repo.  Thanks to you and @aamarill for looking into this ticket.

[2018-05-18 02:42] #128 closed

[2018-06-27 13:09] danielfahy opened #141 "AutoCorrect Bug"
Hi there!

I'm not sure if autocorrect functionality is even supposed to be maintained by this gem as I don't see it in the readme.

However I wanted to open this issue to demonstrate an problem I have been getting when trying to use autocorrect with this gem loaded into my project.

 Thanks for your time
-Dan

[code]

[2018-06-27 16:15] robotpistol commented on #141
In the latest version of Rubocop-Airbnb I upgraded rubocop but didn't also upgrade Rubocop-Rspec.

I think that's what's causing the issue I'll get a version out today to upgrade Rubocop-Rspec

[2018-06-27 16:23] danielfahy commented on #141
Fantastic thank you so much

[2018-06-27 17:22] #141 closed

[2018-06-27 17:35] robotpistol commented on #141
Thanks for reporting, just pushed the updated version

[2018-06-27 17:44] danielfahy commented on #141
Thanks for the speedy fix!

Just ran the glorious `rubocop -a` command and it worked perfectly :)

[2018-07-31 15:50] da-edra commented on #107
Yo también puedo ayudar.

[2018-07-31 15:56] 1c7 commented on #102
oh, it's reopen for way too long. I now close it.

[2018-07-31 16:03] aitbw commented on #107
Hi folks! @Willibaur @da-edra

Update on this: I had to drop out of this issue because of some discussions I had with the @ruby-ve org., so instead of abandoning it altogether I think it's better if you guys take over

I could lend a hand with spellchecking and proofread as soon as a PR is available —what do you think?

[2018-07-31 16:31] ljharb commented on #102
We still need a PR adding a translations section.

[2018-08-01 07:43] 1c7 commented on #102
@ljharb I didn't understand what you mean.
![image](https://user-images.githubusercontent.com/1804755/43508127-a1023a24-95a1-11e8-9428-10a0865bc218.png)

translation section already there.

[2018-08-01 07:47] ljharb commented on #102
Ah, thanks - looks like that was covered by #103.

[2018-08-01 07:47] #102 closed

[2018-08-02 06:48] Willibaur commented on #107
@aitbw Is there any PR already in place or should we start a brand new?
As I did not have response for a while I assume this was dropped while ago.

Thanks

[2018-08-02 11:14] aitbw commented on #107
You should start a brand new, as this was dropped a few weeks after we picked it up @Willibaur

[2018-08-02 16:51] da-edra commented on #107
Ok, I'll start with one tonight.

[2018-08-06 08:11] Willibaur commented on #107
@da-edra Do you want to split the work for the translation so we can work on this at the same time with two PRs?

[2018-08-06 13:57] da-edra commented on #107
Sure! Let's do it! :smile:

[2018-09-23 19:08] stephanyan opened #146 "Upgrade to rubocop 0.59.1"
Since the version 0.59.1 of rubocop has been [released](https://github.com/rubocop-hq/rubocop/releases), is there any plan to upgrade to it?

It's not a big issue but I'm still getting some conflicts because of the version 0.57.2 used by rubocop-airbnb.

I'm still a newbie to code but I can help if you tell me what to do to upgrade the dependency version. I guess we should do something like [this]

[2018-10-01 17:36] robotpistol commented on #146
Hi @stephanyan thank for your interest. Currently our main ruby repository is still locked at ruby 2.1.8.  After rubocop version 0.57.2 they dropped support for ruby < 2.2.  I will get around to upgrading things but that is the main reason i haven't upgraded things already.

[2018-10-02 13:42] stephanyan commented on #146
I see. Thanks for your reply @robotpistol, it makes sense (ruby 2.1.8 though!).

[2018-10-11 18:13] robotpistol commented on #146
Yeah 2.1.8 indeed 😭

[2018-10-11 18:15] #101 closed

[2018-12-27 16:54] smennesson opened #149 "Could you clarify why there is many disabled cops?"
Hello,

first of all thank you to share this project.

I'd like to use the `rubocop-airbnb` gem in my projects but I'm wondering why there is many Rubocop cops disabled by default.

When I'm looking in the `rubocop-airbnb/config` folder, I can find 288 disabled cops.

For some of these cops, the disabling reason is documented. But for some others (a majority I guess), this is not the case.

Here a

[2019-02-25 17:07] sk- opened #153 "RiskyActiverecordInvocation false positive"
`File.exists?` should not be flagged by `RiskyActiverecordInvocation`.

[2019-02-25 19:27] ljharb commented on #153
It's probably impossible to statically differentiate in `x.exists?` between `x` being a file or an activerecord object.

[2019-02-25 19:47] sk- commented on #153
@ljharb Agree, but at least you could whitelist `File.exists?` where `File` is the ruby class and not a variable. That was the reported issue about, sorry if it wasn't clear.

Also, even in the case `file.exists?` you could apply some heuristics to decide whether the first parameter corresponds to SQL or not.

[2019-02-26 16:51] BMorearty commented on #153
Luckily for us, `File.exists?` [is deprecated in favor of `File.exist?`](https://ruby-doc.org/core-2.2.0/File.html#method-c-exists-3F) so I don't think it's necessary to do any work to accommodate it.

The docs say "Deprecated method. Don't use."

[2019-02-26 16:51] #153 closed

[2019-04-08 09:44] stephanyan commented on #146
Hi there! Still no plan to update this gem? Do Airbnb developers still use this style guide (at least all cops) to code? 😆

[2019-04-08 18:26] ljharb commented on #146
Still no change; we will use it fully.

[2019-04-09 09:30] stephanyan commented on #146
@ljharb Sorry, what do you mean?

[2019-04-09 16:02] ljharb commented on #146
@stephanyan you asked two questions: Still no plan? correct, still no plan. Do Airbnb devs still use this guide and all cops? Yes.

[2019-04-23 02:52] szpasztor opened #157 "Support ruby 2.6"
The gem currently forces rubocop 0.58.0, therefore failing to run with Ruby 2.6, even though rubocop itself supports it:
[code]

[2019-04-23 02:57] ljharb commented on #157
Duplicate of #146; see #150.

[2019-04-23 02:57] #157 closed

[2019-07-26 17:17] tomprats opened #159 "Allowing symbols when specifying class for Airbnb/ClassName and Airbnb/FactoryClassUseString"
`Airbnb/ClassName` and `Airbnb/FactoryClassUseString` both work on the idea of not loading the classes. Using a symbol is also a valid way to specify the classes.

[code]

Looking into it, it'd be a pretty simple to add the symbol check. I'd be interested in making the PR if this is a use-case you'll allow

[2019-08-06 16:25] harry-wood commented on #101
Also in the ruby style guide: https://rubystyle.guide/#map-find-select-reduce-size

_"Prefer `map` over `collect`. ... This is not a hard requirement; if the use of the alias enhances readability, it’s ok to use it "_

[2019-08-08 08:57] sgxadhith opened #161 "Editorconfig for airbinb ruby?"
Is there an editorconfig for airbnb ruby? If so where can I get it for use.

[2019-08-09 14:24] BMorearty commented on #161
I don't know of one.

[2019-08-09 14:24] #161 closed

[2019-08-29 18:35] tomprats commented on #159
Closing based on the feedback on the corresponding PR https://github.com/airbnb/ruby/pull/160

Perhaps after upgrading to a higher ruby version it'd be more natural, but for now strings are pretty standard

[2019-08-29 18:35] #159 closed

[2019-11-14 19:31] zachsabin commented on #146
Master branch is now updated to `0.76`

[2019-11-14 19:31] #146 closed

[2019-11-23 16:44] BMorearty commented on #149
Hi Stéphane,

I'm sorry to take so long to answer this. Rubocop has hundreds of cops that are available to choose from. It's up to a team's judgment to decide which ones they think should be used. I don't know the full history of why some have a rationale given and some don't. If you want to, you can still use this gem but supplement it by enabling or disabling additional cops.

[2019-11-23 16:44] #149 closed

[2020-05-12 16:21] MarcoCostantini opened #172 "unable to use because of the rubocop version"
$ rubocop --require rubocop-airbnb
Unable to activate rubocop-airbnb-3.0.2, because rubocop-0.82.0 conflicts with rubocop (~> 0.76.0)

[2020-09-09 08:44] josemiguelmelo opened #176 "Any prediction on when a version will be released?"
Hi,

I noticed you're not releasing a new version on RubyGems for quite some time.
Do you have any predictions on when you're going to make the release?

Thanks,

[2020-09-23 17:03] omertarikkoc commented on #172
Any updates for this?

[2020-09-23 23:25] pariser commented on #172
Hey @MarcoCostantini and @omertarikkoc I can look into this, what ruby version and rubocop version are you running?

[2020-09-23 23:33] pariser commented on #176
Hey @josemiguelmelo thanks for asking, I think we'll look to getting a new release out in mid-late October. Sorry about the general lack of activity on this repository recently, we haven't changed our style guide recently.

[2020-11-01 23:59] hpneo commented on #172
Hi @pariser I have the same issue. I'm using Ruby 2.7.2, and I wanted to use Rubocop 1.1.0

[2021-01-28 04:58] aguynamedben commented on #176
Bump... we'd like to use airbnb-rubocop with Rubocop 0.80.1 and Code Climate.

FWIW Rubocop is on version 1.8.1 now. The latest version of this library requires `~> 0.76.0`, which is pretty old now. Maybe the dependency on Rubocop version can be relaxed?

[2021-01-28 18:41] pariser commented on #176
❤️ @aguynamedben totally understood, and apologies for not actually getting to this when we were hoping to. I'm regrouping with a few folks tomorrow to see if anyone can _actively_ work on this and what their time frame would be.

[2021-01-28 20:18] aguynamedben commented on #176
No worries, we love the project, just a friendly bump!

[2021-02-09 13:23] vmakoed opened #179 "config/default.yml does not match Rubocop of the same version"
It looks like this file: https://github.com/airbnb/ruby/blob/master/rubocop-airbnb/config/default.yml must be updated. It has not been updated for 3 years even though `rubocop` dependency has been updated for many times since then.

This gem is dependent on `'rubocop', '~> 0.80.0'`, but `config/default.yml` in [this repo](https://github.com/airbnb/ruby/blob/master/rubocop-airbnb/config/default.yml

[2021-02-09 22:14] brandonjmckay commented on #172
Also having this issue. I was trying to get my team on using this style guide, but we're on 2.7.2 as well.
I keep getting the following even when using `bundle exec rubocop --require rubocop-airbnb` as described in [this comment about 2.6 support](https://github.com/airbnb/ruby/pull/150#issuecomment-456529485)
[code]

[2021-02-16 18:22] ericatripp commented on #176
we would love this as well.  it's currently blocking us from upgrading to ruby 3.0, and we'd love to have both.  thanks for making a great package ❤️

[2021-03-26 17:08] ericatripp commented on #176
any update on timeline here @pariser?

[2021-04-08 00:44] pariser commented on #176
Hey everyone, I know this is a _long_ time coming, but I just started working on https://github.com/airbnb/ruby/pull/181. I'm not sure I've gotten everything done to release a new version yet, but it's a good start. If you'd like to help advance this along, I'd love some reviews from the community!

[2021-09-21 16:23] #176 closed

[2022-02-11 12:41] zorbash opened #184 "Any plans to depend on a more recent version of rubocop?"
The gemspec rubocop dependency is set to `~> 0.93.1'` locking rubocop to that version which was released on October 12, 2020.
Any plans to relax the dependency specification to perhaps '>= 0.93.1'?